{% extends "blog/base.html" %}
{% load static %}

{% block content %}

<div class="col-sm-10 my-5"> 
    {% for post in posts %}
    <div class="container">
      <div class="jumbotron jumbotron-fluid jumbo-color" style="display: flex; justify-content: center;align-items: center;" >
        <div class="container">
          <img src="{{post.photo.url}}" alt="" class="card-image-top"   style="margin: auto; display:block; width:50%">
          <h1 class="display-4" style="font-weight: bold;text-align:center;" >{{post.title}}</h1><hr>
          <p class="lead">{{post.desc}}</p>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'report' %}"><button class="btn btn-outline-success" type="submit"><i class="fas fa-sign-in-alt"></i> Report</button></a>
          </li>
        </div> 
     
      </div>
      
    </div>
   
    {% endfor %}
</div>
<p style="text-align: center;"><a href="{% url 'home' %}">Go back to top..</a></p>

  
{% endblock content %}