{% extends "blog/base.html" %}
{% load static %}
{% block content %}


<div class="container d-flex justify-content-center my-5" style="background-color:#CCFFFF">  
    <div class="row my-2 mx-2 main">
        <div class="col-md-4 col-12 mycol">
            <img src="{% static 'blog/img/food3.jpg' %}" width="100%" height="100%">
        </div>
        <div class="col-md-8 col-12 xcol " style="min-height: 100px">
            <b></b><h1 class="my-5" style="text-align: center;">Login</h1>
            <hr>
            <form action="" method="POST" novalidate>
                {% csrf_token %}
                {% for fm in form %}
                    <div class="form-group">
                        {{ fm.label_tag }}  {{fm}} 
                        <small class="text-warning">
                            {{fm.errors|striptags}}
                        </small>
                        <br>
                    </div>
                {% endfor %}
                <input type="submit" class="btn btn-primary" value="Login">
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="alert alert-danger my-3">{{error}}</p>
                    {% endfor %}
                {% endif %}
            </form>    
        </div>
    </div>
</div>

  
{% endblock content %}

